:root {
    --oscuro: #091d36;
    --medio: #214288;
    --claro: #4377c5;
    --so-claro: #c2d2e9;
    --blanco: #f1f1f0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--oscuro);
    scroll-behavior: smooth;
}
/*---Main---*/
.main {
    height: 105dvh;
    width: 100vw;
    display: grid;
    place-content: center;
    background-image: url("img/fondo1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--blanco);
    backdrop-filter: blur(30px);
    border-radius: 0 0 8px 8px;
}

.div_main {
    width: 100vw;
    height: 105vh;
    display: grid;
    place-content: center;
    background: linear-gradient(#000000c5, #000000c5, var(--oscuro));
    border-radius: 0 0 8px 8px;
}

.main img {
    width: 100vw;
}

.text_main {
    width: 100vw;
    font-size: 8vw;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.text_prueba1 {
    height: 30dvh;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
}
.text_prueba1 p {
    justify-content: center;
    text-align: center;
    animation: scroll 95s linear infinite;
}
.logo{
    margin: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;

}

.logo img {
    width: 100px;
    height: 100px;
}

.logo a {
    text-decoration: none;
    color: var(--blanco);
    text-align: center;
}


/*---Integrantes---*/

.Ing {
    background: linear-gradient(#113a92, var(--claro));
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    width: 90vw;
    height: fit-content;
    animation: view both;
    animation-timeline: view();
    animation-range: cover 15% cover 45%;
    transform: translateX(0%);
    padding: 20px;
    color: var(--blanco);
}

.Ing li {
    list-style: none;
}
/*---Instrucciones---*/
.Ins {
    background-color: var(--claro);
    margin: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    width: 90vw;
    height: fit-content;
    animation: view both;
    animation-timeline: view();
    animation-range: cover 15% cover 45%;
    transform: translateX(0%);
    padding: 20px;
    color: var(--blanco);
}

.Ins li {
    list-style: circle;
    margin: 10px;
}
/*---Navbar---*/

.navbar {
    background-color: var(--blanco);
    position: sticky;
    bottom: 0;
    width: 100vw;
    border-radius: 10px 10px 0 0;
    user-select: none;
    z-index: 999;
}

.ul_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    margin-left: 10px;
}

.li_navbar {
    list-style: none;
}

.a_navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;
    padding-top: 25px;
}
.navbar_img {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 24px;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 50%;
    transition: bottom 1s, background-color 1s;
}

.navbar_circle {
    position: absolute;
    bottom: 20px;
    width: 46.5px;
    height: 46.5px;
    border-radius: 50%;
    background-color: var(--oscuro);
}

/*---Pruebas---*/
.div {
    height: 30vw;
}
/*---Hover---*/
.navbar_img:hover {
    bottom: 30px;
}

/*---Animaciones---*/

@keyframes scroll {
    0% {
        transform: translateY(50%);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes view {
    0% {
        opacity: 0; scale: 0%;
    }
    100% {
        opacity: 1; scale: 100%;
    }
}