:root {
    --oscuro: #22336c;
    --medio: #2b4087;
    --claro: #1f3a93;
    --so-claro: #1032a2;
    --blanco: #f1f1f0;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    background-color: var(--oscuro);
    scroll-behavior: smooth;
}
/*---Main---*/
.main {
    height: 105dvh;
    width: 100vw;
    display: grid;
    place-content: center;
    background-image: url("../img/teorias-filosoficas-wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--blanco);
    backdrop-filter: blur(30px);
    border-radius: 0 0 8px 8px;
}

.div_main {
    width: 100vw;
    height: 105vh;
    display: grid;
    place-content: center;
    background: linear-gradient(#260e29c5, #260e29c5, var(--oscuro));
    border-radius: 0 0 8px 8px;
}
.div_main a {
    text-decoration: none;
    color: var(--blanco);
    font-size: 12px;
}

.main img {
    width: 100vw;
}

.text_main {
    width: 100vw;
    font-size: 6.7vw;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-align: center;
}
.text_main1 {
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 7px;
    text-align: center;
}
.logo{
    margin: 0;
    width: 100px;
    height: 100px;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;

}

.logo img {
    width: 100px;
    height: 100px;
}

.logo a {
    text-decoration: none;
    color: var(--blanco);
    text-align: center;
}
/*---Conseptos---*/

.conceptos_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 110px;
    width: 100vw;
    place-content: center;
    grid-auto-rows: 190px;
    color: var(--blanco);
}
.items_grid {
    display: flex;
    justify-content: center;
    background-color: var(--claro);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 8px;
    height: 270px;
    scale: 1;
    transition: scale 1s;
    text-align: center;
    animation: view both;
    animation-timeline: view();
    animation-range: cover 15% cover 45%;
}

.items_grid a {
    color: var(--blanco);
    font-weight: 700;
}

.h2_grid {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-top: 7px;
    justify-content: center;
    margin-right: 10px;
}

.h2_grid p {
    margin-top: 10px;
}

.img_grid {
    width: 40%;
    margin-right: 10px;
    border-radius: 8px 0 0 8px;
}
/*---Tareas---*/
.tareas {
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-template-rows: repeat(2, 20vw);
    gap: 3vw;
    margin-top: 150px;
    place-content: center;
    margin-bottom: 50px;
    width: 100vw;
}

.tareas_items {
    background-color: var(--medio);
    position: relative;
    scale: 1;
    z-index: 99;
    transition: scale 1s;
    border-radius: 8px;
    animation: view both;
    animation-timeline: view();
    animation-range: cover 15% cover 45%;
}

.tareas_items > div {
    width: 100%;
    height: 100%;
    background: none;
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: var(--blanco);
    transition: background 1s;
    border-radius: 0px 0px 8px 8px;
}
.tareas a {
    text-decoration: none;
}
.ta a {
    color: var(--blanco);
    text-decoration: none;
}

.ta1 {
    font-size: 15px;
}
.tareas_items1 {
    grid-column: 1/3;
    grid-row: 1/3;
    background-image: url(../img/Captura\ de\ pantalla\ 2025-10-17\ 112234.png);
    background-position: center top;
    background-repeat: no-repeat;
}

.tareas_items2 {
    grid-column: 3/5;
    grid-row: 1/3;
    background-image: url(../img/expo.jpg);
    background-position: center top;
}
.tareas_items3 {
    grid-column: 1/5;
    grid-row: 3/10;
    background-image: url(../img/cuadrocomp2.png);
    background-position: center top;
}
/*---Referecias---*/

.Ins {
    background-color: var(--claro);
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    width: 90vw;
    height: fit-content;
    animation: view both;
    animation-timeline: view();
    animation-range: cover 15% cover 45%;
    transform: translateX(0%);
    padding: 20px;
    color: var(--blanco);
}

.Ins li {
    list-style: none;
    list-style: circle;
    margin: 10px;
}

.Ins a {
    color: var(--blanco);
    font-weight: 700;
}

.cita1 {
    position: relative;
    top: 130px;
}

.cita {
    position: absolute;
    left: 7px;
    font-size: 12px;
    top: -12px;
    text-decoration: none;
}

/*---Navbar---*/

.navbar {
    background-color: var(--blanco);
    position: sticky;
    bottom: 0;
    width: 100vw;
    border-radius: 10px 10px 0 0;
    user-select: none;
    z-index: 999;
}

.ul_navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    margin-left: 10px;
}

.li_navbar {
    list-style: none;
}

.a_navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;
    padding-top: 25px;
}
.navbar_img {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 24px;
    background-color: var(--blanco);
    padding: 5px;
    border-radius: 50%;
    transition: bottom 1s, background-color 1s;
}

.navbar_circle {
    position: absolute;
    bottom: 20px;
    width: 46.5px;
    height: 46.5px;
    border-radius: 50%;
    background-color: var(--oscuro);
}

/*---Pruebas---*/
.div {
    height: 30vw;
}

.concep {
    height: 20px;
}
/*---Hover---*/
.navbar_img:hover {
    bottom: 30px;
}

/*---Hovers---*/

.items_grid:hover {
    scale: 1.04;
}
.tareas_items:hover {
    scale: 1.1;
    z-index: 99;
}

.tareas_items:hover > div {
    display: flex;
    background: linear-gradient(transparent,transparent,#000);
}
/*---MediaQ---*/
@media screen and (max-width: 600px) {

    .tareas {
        grid-template-columns: repeat(4, 15vw);
        grid-template-rows: repeat(10, 15vw);
    }

    .tareas_items1 {
        grid-column: 1/5;
        grid-row: 1/4;
    }

    .tareas_items2 {
        grid-column: 1/5;
        grid-row: 4/7;
    }
    .tareas_items3 {
        grid-column: 1/5;
        grid-row: 7/10;
    }    

    .ta1 {
        font-size: 13px;
    }
    .items_grid{
        height: 350px;
    }

    .conceptos_grid {
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 180px;
    }

    .tareas {
        margin-top: 180px;
    }
}

@media screen and (min-width: 600px) {
    .conceptos_grid {
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    }
}
/*---Animaciones---*/
@keyframes view {
    0% {
        opacity: 0; scale: 0%;
    }
    100% {
        opacity: 1; scale: 100%;
    }
}
